<article id="home">
  <article>
    <div class="mainhome">
      <div class="mainleft">

        <img class="homeleftimg" src="assets/image/welcome-left.png">


      </div>
      <div class="maincenter">
        <h1 class="hello">
          Hello,
        </h1>
        <section class="saladlab">
          <a href="https://saladlab.co" target="_blank">
            <img src="assets/image/logo.png" style="width: 200px;">
          </a>
        </section>
        <div class="loginsection">
          <button class="loginbutton" (click)="gologin()">
            로그인
          </button>
        </div>
        <div style="font-size: 15px;" class="signupsection">
          계정이 없으신가요? <a (click)="signup()" style="color:blue; font-weight: bolder; cursor: pointer;">가입하기</a>
        </div>

      </div>
      <div class="mainright">
        <img class="homerightimg" src="assets/image/welcome-right.png">
      </div>

    </div>

  </article>
</article>