<div class="loginbox">
  <div class="loginreal">
    <div class="logintitle">
      <div class="logobox">
        <img class="logosignup " src="assets/image/logo.png" style="width: 200px;">
      </div>
      <div class="logintext">
        Log In
      </div>
      <div class="logintext2">
        Ready to discover things to do?
      </div>



      <div class="logininputbox">
        <input class="logininputusername" [(ngModel)]="loginusername" type="text" placeholder="ID" />
        <input class="logininputusername" [(ngModel)]="loginpassword" type="password" placeholder="Password">
      </div>
      <div class="loginbuttonbox">
        <button class="loginbutton" (click)="loginInputText()">
          LOG IN
        </button>
      </div>





    </div>



  </div>
  <img src="assets/image/saladphoto.jpg" style="width:65%">







</div>