<div class="signupbox">
  <div class="signupreal">
    <div class="signuptitle">
      <div class="logobox">
        <img class="logosignup " src="assets/image/logo.png" style="width: 200px;">
      </div>
      <div class="signuptext">
        투두리스트 작성 및 일정 관리를 하고싶다면
      </div>
      <div class="signuptext2">
        가입하세요
      </div>
      <div class="line1"></div>
      <div class="inputbox">
        <input class="inputusername" type="text" [(ngModel)]="username" placeholder="사용할 이름" />
        <input class="inputpassword" type="text" [(ngModel)]="password" placeholder="사용할 비밀번호">
      </div>
      <div class="signupbuttonbox">
        <button (click)="PostInputText()" class="signupbutton">
          가입
        </button>
      </div>
      <div style="font-size: 15px;" class="gologinsection">
        계정이 있으신가요? <a (click)="gologin()" style="color:blue; font-weight: bolder; cursor: pointer;">로그인</a>
      </div>





    </div>



  </div>
  <img src="assets/image/saladphoto.jpg" style="width:65%">







</div>